@model ReservaSala.Models.UsuarioSala

@{
    ViewBag.Title = "Usuário: " + Session["UserName"].ToString();
}

<div class="container margin-top-ajust">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container box-container">
            <hr class="margin-inv" />
            <h4 class="text-centro">@ViewBag.Title</h4>
            <hr />
            <div class="row mt-0">
                <div class="form-group col-md-6">
                    <h6 class="magin-left-ajust">Nome:</h6>
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.nomeUsuario, new { @class = "form-control border semAjuste text-center col-md-8", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <h6>Id Tcs:</h6>
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.idTcsUsuario, new { @class = "form-control border semAjuste text-center col-lg-4", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="form-group col-md-6">
                    <h6 class="magin-left-ajust">Email:</h6>
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.emailUsuario, new { @class = "form-control border semAjuste text-center col-md-8", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <h6>Perfil:</h6>
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.perfilUsuario, new { @class = "form-control border semAjuste text-center col-lg-4", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <hr class="margin-top-hr" />
            <div class="container box-footer">
                <div class="form-group row mt-4">
                    <div class="col-md-offset-2 col-md-10">
                        <a class="btn btn-success btn index-z margin-bot magin-left-ajust" title="Editar" href="@Url.Action("Edit", "UsuarioSalas", new { id = Model.idUsuSala })">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-danger btn index-z margin-bot" href="@Url.Action("Index", "ReservaSalas")">
                            <i class="fas fa-times"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>